body {
    box-sizing: border-box;
    margin: 0;
}
.divOrgTable {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}
/** 
    For å style hver element i tabellene
**/
tr {
    background-color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tableOrgs {
    width: 50%;
    text-align: left;
    border-collapse: collapse;
}
.tableOrgs th, .tableOrgs td {
    padding: 1%;
}
.tableOrgs th:last-child, .tableOrgs td:last-child {
    text-align: right;
}

.dashboardButtons {
    width: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2rem;
}